.products{
  display: grid;
  grid-template-columns:5fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}
.card-container{
  background-color: bisque;
  
}
@media screen and (max-width:899px) {
  .product-container{
      grid-template-columns: repeat(2,1fr);
  }
  
}