.header {
text-align: center;
}

.products{
  display: grid;
  grid-template-columns:4fr 1fr;
  grid-gap: 10px;
  overflow: hidden;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}
.card-container{
  background-color: rgb(146, 145, 235);
  border-radius: 10px;

  
}
.cart-btn button{
  background-color: teal;
  padding: 10px;
  margin-top: 30px;
  margin-left: 10px;
  outline: none;
  border:none;
  border-radius: 8px;

}

@media screen and (max-width:1099px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
    direction: column-reverse;
  
    
   
    
}
  .product-container{
      grid-template-columns: repeat(2,1fr);
      padding-left: 100px;
  }
  
}
@media screen and (max-width:768px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
   
    
}
  .product-container{
      grid-template-columns: repeat(2,1fr);
     
  }
  
}
@media screen and (max-width:576px) {
  .product-container{
      grid-template-columns:1fr;
      padding-left: revert;

  }
  .card-container {
  
    width: 600px;
}
.cart-btn button{
  display: flex;
  flex-direction: column;
}
.product {
  width:75%;
}
.product img{
  width: 100%;
}
}